.breadcrumb {
  display: flex;
  list-style: none;
  margin: 20px 0;
}

.breadcrumb span {
  position: relative;
  color: #004d81;
  font-size: 14px;
  font-weight: 300;
  margin-right: 30px;
}

.breadcrumb span:last-child {
  margin-right: 0;
}

.breadcrumb span a {
  color: #004d81;
  font-weight: normal;
}

.breadcrumb span a:hover {
  color: #000;
}