.btn {
  display: block;
  background-color: transparent;
  border: 1px solid $mainColor;
  color: $mainColor;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px;
  transition: background-color .3s,
    color .3s;

  &:hover {
    background-color: $mainColor;
    color: #fff;
  }
}