.diplomas {
  margin-bottom: 50px;
}

.diplomas .title {
  margin-bottom: 50px;
}

.diplomas__item {
  flex: 0 0 50%;
  padding: 0 15px;
}

.diplomas__item img {
  margin: 0 auto;
}

@media (min-width: $laptopWidth) {
  .diplomas__item {
    flex: 0 0 25%;
  }
}
