.slider {
  position: relative;
  font-family: "Gotham Pro", sans-serif;
  margin: 0;
  padding: 0;
  height: 400px;
}

.slider img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.slider__list {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.slider__item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #3b7933;
  width: 100%;
  height: 100%;
  transition: transform 1s;
}

.slider__item--active {
}

.slider__preview {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.slider__preview b {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.slider__preview p {
  color: #fff;
  font-size: 19px;
  margin: 20px 0 50px;
}

.slider__preview a {
  background-color: $mainColor;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 30px;
  transition: background-color .3s;

  &:hover {
    background-color: darken($mainColor, 10%);
  }
}

.slider__control {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 25%;
  bottom: 30px;
  width: 70px;
  height: 35px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    opacity: 0.5;
    width: 2px;
    height: calc(100% - 3px);
  }
}

.slider__btn-left,
.slider__btn-right {
  position: relative;
  font-size: 0;
  height: 100%;
  width: 50%;

  &::after,
  &::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 20px;
    height: 2px;
  }

  &::after {
    top: 25px;
  }

  &::before {
    top: 12px;
  }
}

.slider__btn-left:hover,
.slider__btn-right:hover {

  &::after,
  &::before {
    background-color: $mainColor;
  }
}

.slider__btn-left::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.slider__btn-left::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.slider__btn-right::after {
  transform: translate(-50%, -50%) rotate(135deg);
}

.slider__btn-right::before {
  transform: translate(-50%, -50%) rotate(-135deg);
}
